# ---- Node ----
node_modules/
dist/
.vite/
*.log
.env
.env.*

# ---- Vite cache ----
.cache/
*.local

# ---- OS / Editor ----
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# ---- TypeScript ----
*.tsbuildinfo
*.tscache/
*.eslintcache

# ---- CDK ----
cdk.out/
cdk-outputs.json

# ---- Build artifacts ----
public/build/
