html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: #008080;
  color: #000;
  font-family: 'Tahoma', 'MS Sans Serif', Verdana, sans-serif;
  font-size: 14px;
}
